Semana 2 -  Exercício de apoio - Introdução a Ciencia de Dados - COM350_GABARITO.ipynb
Semana 2 - Notebook - Videoaula6_Pandas - Introdução a Ciência de Dados - COM350.ipynb
Semana 2 - Notebook - Videoaula5_Numpy -  Introdução a Ciência de Dados - COM350.ipynb
